body {font-family: roboto,sans-serif;;}

.charades-btn {width: 50%; height: 100vh;float: left;border: none;opacity: 0.5;background-color: transparent;z-index: 0;}

a {text-decoration: none;}

.prev {right: 0px; top: 0px;position: fixed;}

.next {position: fixed; left: 0px;top: 0px;}

.next:active {background-color: green;}

.prev:active {background-color: red;}

.myDeck > h3 {font-size: 70px;width: 100%; text-align: center;}

.ch-view-image {position: fixed;left: 0px; top: 0px;z-index: -1;height: 100vh;width: 100%; object-fit: cover;filter: brightness(0.7);}

.block-container > h1 {width: 100%; text-align: center;font-size: 6vw;color: white;font-weight: 500;margin-top: 40vh;position: relative; z-index: -1;}

.block-container {position: fixed; z-index:-1;width: 100%;}

.times-up {position: fixed; top: 0px; width: 100%; height: 100vh;left: 0px;;}

.times-up > div {background-color: white; height: 100vh;position: fixed; top: 0px;left: 0px; width: 100%;;}

.times-up > div > h1 {text-align: center; margin-top: 35vh;font-size: 10vw;}

#timeUp {display: none;}

.time-container {position: fixed; width: 100%;top: 0px; margin-top: 50vh;}

.time-container > h2 {text-align: center;color: white;font-weight: 500;}

button:focus {outline: none;}

.logo-container {width: 400px;margin: auto;margin-top: 15px;}

.logo-container > img {width: 150px;margin-left: 10px;float: left;;}

#items {}

#time_div {transition: 25s linear;}

nav {width: 100%; position: absolute; height:70px;top: 0px;z-index: 550;left: 0px;backdrop-filter: blur(6px);background-color: white;;}

@media all and (orientation:portrait) {
    .pwa-container {display: block;opacity: 0px;transition: 0.2s ease;}
}
@media all and (orientation:landscape) {
    .pwa-container {display: none;opacity: 1.5;}
}

.pwa-logo-container {margin: auto;width: 146px;}
.pwa-logo-container > img {width: 100%;padding-top: 65px;}

.pwa-container {position: fixed; top: 0px; left: 0px; width: 100%;height: 100vh;background-color: white;z-index: 1000;}

.top-pwa-container {background-color: black;height: 250px;;width: 100%;}

.top-pwa-container > p {color: white;font-weight:500;font-size: 18px;text-align: center;margin-top: 15px;}

.top-pwa-container {}

.pwa-start {margin: auto; width: 90%;}

.pwa-start > p {font-size: 17px;margin-top: 0px;}

.pwa-start > h2 {font-size:25px;font-weight: 500;margin-bottom: 14px;}

.expand-btn > summary {border: solid 1px lightgray;width: 100px;padding-left: 20px;padding-top: 7px;padding-bottom: 7px;border-radius: 6px;font-weight: 500;}

.expand-btn > summary:focus {outline: none;}

.expand-btn > h3 {margin-bottom: 0px;border-top: solid 1px lightgray;padding-top: 15px;}

.expand-btn > img {width: 100%;}

details summary::-webkit-details-marker {
    display:none;
  }
/*-----------------------------------End Screen --------------------------*/

#end {display: none;position: fixed; top: 0px; z-index: 100px; width: 100%; height: 100vh;left: 0px;}

.left-group {width:227px; height: 100vh; position: fixed; left: 0px; top: 0px;height: 100vh;;margin-top: 10vh;}
.mini-ad {margin: auto; width: 150px;border-top: solid 2px white;margin-top: 15px;}

.mini-ad> h3 {text-align: center; color: white;margin-top: 5px;margin-bottom: 5px;}

.mini-ad > img {width: 150px;border-radius: 10px;}


.left-group-btn-container {margin: auto; width: 143px;;}

.left-group-btn-container > a > button {width: 143px; height: 48px;border-radius: 50px;border: none; background-color: white;font-size: 19px;font-weight: bold;}

.complete-image {margin: auto; width: 172px;;}

.results {background-color: white;top: 0px; height: 100vh;z-index: 150;float: left;margin-left: 227px;width: 70vw;position: fixed; z-index: 150;}

.result-text {overflow: scroll;height: 100vh;width: 100%;}

.result-text > h2 {text-align: center;white-space: pre-wrap;font-size: 40px;width: 100%;color: black;}

/*------------------------------------Home Screen------------------------------*/

.ad-container {border-top: solid 1px lightgray;margin:auto;width: 500px;margin-top: 10px;border-bottom: solid 1px lightgray;padding-bottom: 20px;background-color: white;padding-left: 10px;}

.ad-container > div {margin: auto; width: 325px;}



.it-client-22-iframe {border-radius: 10px;}

.ad-container > h3 {font-weight: bold;font-size: 20px;width: 100%; text-align: center;}

.home-screen {background-color: white;position: absolute; top: 0px; left: 0px; width: 100%;z-index: 150;}

.scroll-container {overflow-x:auto;height:200px;margin-top:20px;overscroll-behavior-x:contain;white-space: nowrap;scroll-snap-type: x proximity;}

.deck-scroll {width: 340px;;display: inline-block;;background-color: white;height: 93.5%;;scroll-snap-align: center;margin-left: 20px;}

.deck-scroll:first-of-type {background-color: transparent;padding-left: 0px !important;margin-left: 150px;}

.deck-scroll > img {width: 100%;object-fit: cover;border-radius: 15px;filter: brightness(0.7);height: 190px;background-color: lightgray;}

.deck-scroll > h2 {width: 100%; text-align: center;font-size: 40px;margin-top: -150px;color: white;z-index: 15;position: relative;font-weight:500;}

#chd {position: fixed; top: 0px; left: 0px; width: 100%; height: 100vh ;z-index: 500;display: none;;}

#chd:target {display: block;}

.deck-btn-container {position: relative; z-index: 4;margin: auto; width: 105px;margin-top: -25px;}

.deck-btn-container > a > button {height: 37px;background-color: transparent;border-radius: 5px;border: solid 2px white;color: white;font-size: 24px; font-weight: 500;width: 105px;}

.deck-btn-container > a > button:active {background-color: white; color: black;}

.deck-btn-container > button {width: 105px;height: 37px;background-color: transparent;border-radius: 5px;border: solid 2px white;color: white;font-size: 24px; font-weight: 500;}

.difficulty-container {vertical-align: top;height: 30%;display:inline-block ;border-color: lightgray;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;left: 22px;z-index: 150;border-radius: 100px;margin-top: 59px;backdrop-filter: blur(5px);scroll-snap-align: start;margin-left: 20px;border: solid 1px lightgray;padding-left: 15px; padding-right: 15px;background-color: white;}

.difficulty {font-size:40px;margin-top: 0px;padding-top: 0px;padding-right: 15px;width: 100%;text-align: center;color: black;}

.settings-icon {position: absolute; right: 20px; top: 24px;}

.close {position: fixed; top: 35px; right: 20px;background-color: white;}

.settings-icon > i {width: 30px;color: black;}

.settings-icon > img {width: 30px;}





/*-------------------------------------Initial Count Down---------------------*/
#cntd{display:none;}

.countdown {position: fixed; left: 0px; z-index: 1000;top: 0px; background-color: white;width: 100%; height: 100vh;}

#countdown_div {width: 100%;text-align: center;font-size: 150px;margin-top: 24vh;}

/*---------------------------------------Search-----------------------------------*/

.search-result-container > img {width: 130px;height: 80px;object-fit: cover;border: solid 1px lightgray;border-radius: 10px;}

.search-text {display: inline-block;margin-top: -150px;}

.search-text > h3 {color: black;float: left;margin-left: 15px; font-size: 30px;}

.search-deck {margin-left: 50px;;}

.search-result-container {margin: auto; width: 400px;;}

.search-result-container > button {width: 100px;height: 40px;border-radius: 50px;margin-top: -150px;}

#search > li {margin: auto; width: 400px;border-top: solid 1px lightgray;padding-top: 15px;padding-bottom: 4px;padding-left: 10px;margin-top: 10px;}

.search-wrapper {display: inline-block;}

.search-input-container > input {width: 40vw;height: 40px;border: solid 2px lightgray;padding-left: 15px;border-radius: 50px;}

.search-input-container > input:focus {border-color: black;outline: none;}


.search-input-container {width: 45vw;margin-top: 30px;margin: 15px;}

#search {white-space: nowrap; overflow-x: auto;height: 100vh;}

#myMenu {background-color: white;}

/*---------------------------------------Menu-btn------------------------------*/

.menu-btn {float: left;margin-top: -3px;margin-left: 5px;}

.menu-btn-r {background-color: black;color: white;padding-left: 10px;padding-right: 10px;height: 40px;border-radius: 50px;border: none;margin-right: 5px;font-weight: bold;float: left;}

.exr {background-color: white ;color:black ;border:solid 2px;}

/*-------------------------------------Creator-----------------------------*/

#creator {position: fixed; left: 0px; top: 55px; width: 100%; height: 100vh; background-color: white; z-index: 500;;}

/*------------------------------------------Dark Mode---------------------------*/

#settings {position: fixed; top: 70px;left: 0px; width: 100%; height: 100vh; background-color: white;z-index: 150;display: none;}

#settings:target {display: block;}

body.darkclass body {background-color: black;}

body.darkclass html {background-color: black;}

body.darkclass .logo-container > img {filter: invert();}

body.darkclass .home-screen {background-color: black;}

body.darkclass .difficulty-container {background-color: rgba(0, 0, 0, 0.671);}

body.darkclass .difficulty {color: white;}

body.darkclass nav {background-color: black;}

body.darkclass .menu-btn > a > button {background-color: rgb(17, 17, 17);}

body.darkclass .exr {background-color: transparent !important;color: white;border: none;}

body.darkclass .deck-scroll {background-color: black;}

body.darkclass .countdown {background-color: black;}

body.darkclass .results {background-color: black;}

body.darkclass #settings {background-color: black;}

body.darkclass .result-text > h2 {color: white }

body.darkclass .left-group-btn-container > a > button {background-color: black;color: white;border: solid 2px white;}

body.darkclass .times-up {color: white;;}

body.darkclass .times-up > div {background-color: black;}

body.darkclass #countdown_div {color:white}

body.darkclass .dark-mode > div > a  {color: white;}

body.darkclass .settings-icon {filter: invert();}

body.darkclass .ad-container {background-color: black;}

body.darkclass .ad-container > h3 {color: white;}



